</div>
<!-- .page-box-content -->
<footer id="footer" data-appear-animation="fadeInUp">
    <div class="footer-top">
        <div class="container">
            <div class="row sidebar">
                <aside class="col-xs-12 col-sm-6 col-md-3 widget social">
                    <div class="title-block">
                        <!-- Title -->
                        <h3 class="title">About Us</h3>
                    </div>
                    <!-- Text -->
                    <p> We like to provide great site with complete features what you want to impletement in your business!</p>
                    <!-- Address -->
                    <p><strong>Office:</strong> Zozotheme.com<br> No. 12, Ribon Building,<br> Walse street, Australia.</p>
                    <!-- Phone -->
                    <p><strong>Call Us:</strong> +0 (123) 456-78-90
                        or <br> +0 (123) 456-78-90
                    </p>
                </aside>
                <aside class="col-xs-12 col-sm-6 col-md-3 widget links">
                    <div class="title-block">
                        <!-- Title -->
                        <h3 class="title">Blogroll</h3>
                    </div>
                    <nav>
                        <ul>
                            <!-- List Items -->
                            <li><a href="index-online-shop.html#">Complete Documentations</a></li>
                            <li><a href="index-online-shop.html#">Additional Plugins & Modules</a></li>
                            <li><a href="index-online-shop.html#">Child Themes</a></li>
                            <li><a href="index-online-shop.html#">FAQ</a></li>
                            <li><a href="index-online-shop.html#">Support Forums</a></li>
                            <li><a href="index-online-shop.html#">Useful Blog</a></li>
                        </ul>
                    </nav>
                    <br>
                    <div class="title-block">
                        <!-- Title -->
                        <h3 class="title">My account</h3>
                    </div>
                    <nav>
                        <ul>
                            <!-- List Items -->
                            <li><a href="index-online-shop.html#">My account</a></li>
                            <li><a href="index-online-shop.html#">Order History</a></li>
                            <li><a href="index-online-shop.html#">Shopping Cart</a></li>
                        </ul>
                    </nav>
                </aside>
                <aside class="col-xs-12 col-sm-6 col-md-3 widget links">
                    <div class="title-block">
                        <!-- Title -->
                        <h3 class="title">Latest News</h3>
                    </div>
                    <nav>
                        <ul class="footer-blog">
                            <!-- List Items -->
                            <li><a href="index-online-shop.html#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a></li>
                            <li><a href="index-online-shop.html#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a></li>
                            <li><a href="index-online-shop.html#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a></li>
                        </ul>
                    </nav>
                </aside>
                <aside class="col-xs-12 col-sm-6 col-md-3 widget newsletter">
                    <div class="title-block">
                        <!-- Title -->
                        <h3 class="title">Newsletter Signup</h3>
                    </div>
                    <div>
                        <!-- Text -->
                        <p>Subscribe to Our Newsletter to get Important News, Amazing Offers & Inside Scoops:</p>
                        <div class="clearfix"></div>
                        <!-- Form -->
                        <form>
                            <input class="form-control" type="email">
                            <button class="submit bg-color"><span class="glyphicon glyphicon-arrow-right"></span></button>
                        </form>
                    </div>
                    <!-- Count -->
                    <div class="footer-count">
                        <p class="count-number" data-count="93550">total downloads : <span class="counter"></span></p>
                    </div>
                    <div class="footer-count">
                        <p class="count-number" data-count="79550">happy clients : <span class="counter"></span></p>
                    </div>
                    <!-- Social Links -->
                    <div class="footer-social">
                        <a href="index-online-shop.html#"><i class="fa fa-facebook"></i></a>
                        <a href="index-online-shop.html#"><i class="fa fa-twitter"></i></a>
                        <a href="index-online-shop.html#"><i class="fa fa-pinterest"></i></a>
                        <a href="index-online-shop.html#"><i class="fa fa-google"></i></a>
                        <a href="index-online-shop.html#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </aside>
                <!-- .newsletter -->
            </div>
        </div>
    </div>
    <!-- .footer-top -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <!-- Copyrights -->
                <div class="copyright col-xs-12 col-sm-6 col-md-6">
                    Copyright © zozothemes.com., 2014
                    <br>
                    <!-- Terms Link -->
                    <a href="index-online-shop.html#">Terms of Use</a> / <a href="index-online-shop.html#"> Privacy Policy</a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <!-- Goto Top -->
                    <a href="index-online-shop.html#" class="up">
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- .footer-bottom -->
</footer>
</div>
<!-- .page-box -->
<div class="clearfix"></div>
<script src="../res/site/js/jquery.min.js"></script>
<script src="../res/site/js/bootstrap.min.js"></script>
<script src="../res/site/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script src="../res/site/js/jquery.touchSwipe.min.js"></script>
<script src="../res/site/js/jquery.imagesloaded.min.js"></script>
<script src="../res/site/js/jquery.appear.js"></script>
<script src="../res/site/js/jquery.easing.1.3.js"></script>
<script src="../res/site/js/isotope.pkgd.min.js"></script>
<script src="../res/site/js/jquery.tubular.1.0.js"></script>
<script src="../res/site/js/SmoothScroll.js"></script>
<script src="../res/site/js/masonry.pkgd.min.js"></script>
<script src="../res/site/js/jquery.stellar.min.js"></script>
<script src="../res/site/js/raphael.min.js"></script>
<script src="../res/site/js/livicons-1.3.min.js"></script>
<script src="../res/site/js/revolution/jquery.zozothemes.plugins.min.js"></script>
<script src="../res/site/js/revolution/jquery.zozothemes.revolution.min.js"></script>
<!-- Twitter -->
<script type="text/javascript" src="../res/site/js/tweet/carousel.js"></script>
<script type="text/javascript" src="../res/site/js/tweet/scripts.js"></script>
<script type="text/javascript" src="../res/site/js/tweet/tweetie.min.js"></script>
<script src="../res/site/js/video.js"></script>
<script src="../res/site/js/jquery.prettyPhoto.js"></script>
<script src="../res/site/js/jquery.scrollbar.min.js"></script>
<script src="../res/site/js/jquery.countTo.js"></script>
<script src="j../res/site/s/bootstrapValidator.min.js"></script>
<script src="../res/site/js/main.js"></script>
</body>
</html>